<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>学習記録</h1>
    <%= link_to "新規投稿", new_post_path, class: "bg-sky-500 text-white py-1 px-1 rounded-md shadow hover:bg-sky-600" if user_signed_in? %>  
  </div>

  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-subtitle mb-2 text-muted"><%= post.learning_date.strftime('%Y年%m月%d日') %></h5>
            <h6 class="card-title">title : <%= post.title %></h6>
            <p class="card-text">body : <%= truncate(post.body, length: 100) %></p>
            <div class="d-flex justify-content-between">
              <small class="text-muted">by <%= post.user.username %></small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= button_to "ログアウト", destroy_user_session_path, method: :delete, data: { turbo: false } %>