

<p><%= @post.user.username %></p>
<p><%= @post.learning_date %></p>
<p><%= @post.title %></p>
<p><%= @post.body %></p>
<p><%= @daily_question.body %></p>
<p><%= @daily_question.question_answer %></p>
<%= link_to '編集', edit_profile_path, class: 'mt-4 bg-orange-500 hover:bg-orange-600 text-white py-2 px-4 rounded' %>